<section class="section single-product-section">
  <div class="content">
    <h2>
      <a routerLink="/catalog" class="goback">Go Back</a>
    </h2>
    <div class="product-card">
      <div class="img-container">
        <img src="{{ product.imageUrl }}" alt="" />
      </div>
      <div class="info">
        <div class="brand">{{ product.brand }}</div>
        <div class="name">{{ product.name }}</div>
        <div class="tag">Ítem: {{ product.id }}</div>
        <div class="tag">Registry Date: {{ product.registryDate }}</div>
        <div class="price">$ {{ product.price | number }}</div>
        <div class="desc">{{ product.description }}</div>
        <div class="desc">Model: {{ product.model }}</div>
        <div class="desc" *ngIf="product.frecuency">
          Frecuency: {{ product.frecuency }}
        </div>
        <div class="measure-container">
          <div class="measure" *ngIf="product.measurementUnit">
            Measurement Unit
          </div>
          <div class="measures" *ngIf="product.measurementUnit">
            <div class="single-measure">{{ product.measurementUnit }}</div>
          </div>
        </div>
        <button class="btn add-btn" *ngIf="product.isProduct; else elseButton">
          Buy now
        </button>
        <ng-template #elseButton>
          <button class="btn add-btn">Subscribe</button>
        </ng-template>
      </div>
    </div>
  </div>
</section>
