<div
  class="product card"
  *ngIf="showProduct && product.isProduct; else elseBlock"
>
  <div class="img-container">
    <app-product-image imageUrl="{{ product.imageUrl }}"></app-product-image>
  </div>
  <div class="left"></div>
  <div class="right">
    <p class="name">{{ product.name }}</p>
    <p class="price">
      $ <span>{{ product.price | number }}</span>
    </p>
    <p class="description">{{ product.description }}</p>
    <a routerLink="/product/{{ product.id }}">Show more</a>
  </div>
</div>

<ng-template #elseBlock>
  <div class="service card" *ngIf="!showProduct && !product.isProduct">
    <div class="img-container">
      <app-product-image imageUrl="{{ product.imageUrl }}"></app-product-image>
    </div>
    <div class="left"></div>
    <div class="right">
      <p class="name">{{ product.name }}</p>
      <p class="price">
        $ <span>{{ product.price | number }}</span>
      </p>
      <p class="description">{{ product.description }}</p>
      <a routerLink="/product/{{ product.id }}">Show more</a>
    </div>
  </div>
</ng-template>
