.catalog-section {
  font-family: "Poppins";
  margin-top: 4rem;
  .content {
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;
    }
    .tabs {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 40px;
      .tab {
        border: 2px solid black;
        padding: 0.4em;
        cursor: pointer;
        color: black;
      }
      .active {
        color: #fff;
        background: black;
      }
    }
    .tab-title {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
