<section class="section catalog-section">
  <div class="content">
    <h2>Catalog</h2>
    <div class="tabs">
      <div
        class="tab"
        (click)="toggleTab(true)"
        [ngClass]="toggleTypeOfProduct ? 'active' : ''"
      >
        Products
      </div>
      <div
        class="tab"
        (click)="toggleTab(false)"
        [ngClass]="!toggleTypeOfProduct ? 'active' : ''"
      >
        Services
      </div>
    </div>
    <h3 *ngIf="toggleTypeOfProduct; else elseTitle" class="tab-title">
      Products
    </h3>
    <ng-template #elseTitle>
      <h3 class="tab-title">Services</h3>
    </ng-template>
    <div class="product-grid">
      <div *ngFor="let product of products">
        <app-product
          [product]="product"
          [showProduct]="toggleTypeOfProduct"
        ></app-product>
      </div>
    </div>
  </div>
</section>
